{
  "env": {
    "es6": true,
    "node": true,
    "browser": false
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "plugin:prettier/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "ignorePatterns": ["**/*.js", "**/*.test.ts"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
